<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8"></meta>
    <title>Title</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
<div class="container">
    <div class="row ">
        <div class="col-md-12 column">
           <h1>nba新闻搜</h1>
        </div>
    </div>
        <div class="row ">
            <form role="form" class="form-inline" action="/get/nba/news" method="post">
                <div class="col-md-6 column">
                    <input type="text" class="form-control" name="query" autocomplete="off"/>
                </div>
                 <button type="submit" class="btn btn-default">go</button>
            </form>
        </div>

</div>
</body>
</html>